body {
  background-color: #18121E;
  padding: 2rem;
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
}
h1 {
  font-family: 'Orbitron', sans-serif;
}

h1 {
  color: white;
}
ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}
ul.header {
  background-color: #984B43;
  padding: 0;
}
ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}
.content {
  background-color: #EAC67A;
  padding: 2rem;
}
.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.active {
  background-color: #233237;
}